<section class="flex justify-center min-h-screen">
    <div class="form max-w-[410px] w-full h-auto mt-10">

        @if (step() == 1) {
            <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()"  class="flex flex-col gap-8">
                <h2 class="text-2xl font-bold text-[#000000]">Forgot your password?</h2>
                <div class="email"> 
                    @let emailControl = verifyEmail.get("email");
                    <label for="email" class="sr-only">Email:</label>
                    <input formControlName="email" id="email" type="email" placeholder="Enter Email..." class="w-full h-[55px] border border-[#E0E0E9] focus:border-[1.98px solid #3364FD] rounded-[10px] px-3 gap-[3px] bg-[#F9F9F9] shadow-[0px_10px_20px_0px_#4461F20D] outline-none ring-0  focus:border-[#3364FD] focus:border-[2px]"
                    [ngClass]="{'border-[#E0E0E9]': !emailControl?.invalid || !emailControl?.touched,
                    'border-[#F04438]' : emailControl?.invalid && emailControl?.touched
                    }"
                    >                    
                    <app-error-message [nameControl]="emailControl"></app-error-message>
                </div> 
                @if (successEmail()) {
                    <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        <span class="font-medium"> {{successEmail()}} </span>
                    </div>
                }
                @else if (errorMsgEmail()) { 
                    <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium"> {{errorMsgEmail()}} </span>
                    </div>
                }
                <p-button [loading]="isCallingAPI()" [disabled]="isCallingAPI()" type="submit" label="Send Code" styleClass="w-full bg-main hover:!bg-[#3340C3] !transition-colors !duration-300 !shadow-[0px_18px_30px_0px_#2F1C1C1A] h-[56px] !p-2 !gap-2 !rounded-[20px] text-[#FFFFFF] text-[16px] !font-normal !border-none !outline-none" />
            </form>
        }
        @else if (step() == 2) {
            <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class="flex flex-col gap-8">
                <h2 class="text-2xl font-bold text-[#000000]">Verify code</h2>
                <div class="resetCode"> 
                    @let codeControl = verifyCode.get("resetCode");
                    <label for="resetCode" class="sr-only">Reset Code:</label>
                    <input formControlName="resetCode" id="resetCode" type="text" placeholder="Enter Code..." class="w-full h-[55px] border border-[#E0E0E9] focus:border-[1.98px solid #3364FD] rounded-[10px] px-3 gap-[3px] bg-[#F9F9F9] shadow-[0px_10px_20px_0px_#4461F20D] outline-none ring-0  focus:border-[#3364FD] focus:border-[2px]"
                    [ngClass]="{'border-[#E0E0E9]': !codeControl?.invalid || !codeControl?.touched,
                    'border-[#F04438]' : codeControl?.invalid && codeControl?.touched
                    }"
                    >                    
                    <app-error-message [nameControl]="codeControl"></app-error-message>
                </div> 
                @if (successCode()) {
                    <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        <span class="font-medium"> {{successCode()}} </span>
                    </div>
                }
                @else if (errorMsgCode()) { 
                    <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium"> {{errorMsgCode()}} </span>
                    </div>
                }
                <p-button [loading]="isCallingAPI()" [disabled]="isCallingAPI()" type="submit" label="Verify Code" styleClass="w-full bg-main hover:!bg-[#3340C3] !transition-colors !duration-300 !shadow-[0px_18px_30px_0px_#2F1C1C1A] h-[56px] !p-2 !gap-2 !rounded-[20px] text-[#FFFFFF] text-[16px] !font-normal !border-none !outline-none" />
            </form>
        }
        @else if (step() == 3) {
            <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" class="flex flex-col gap-8">
                <h2 class="text-2xl font-bold text-[#000000]">Set a Password</h2>    
                <div class="email"> 
                    @let email_control = resetPassword.get("email");
                    <label for="email" class="sr-only">Email:</label>
                    <input formControlName="email" id="email" type="email" placeholder="Enter Email..." class="w-full h-[55px] border border-[#E0E0E9] focus:border-[1.98px solid #3364FD] rounded-[10px] px-3 gap-[3px] bg-[#F9F9F9] shadow-[0px_10px_20px_0px_#4461F20D] outline-none ring-0  focus:border-[#3364FD] focus:border-[2px]"
                    [ngClass]="{'border-[#E0E0E9]': !email_control?.invalid || !email_control?.touched,
                    'border-[#F04438]' : email_control?.invalid && email_control?.touched
                    }"
                    >    
                    <app-error-message [nameControl]="email_control"></app-error-message>
                </div> 
                <div class="newPassword relative"> 
                    @let newPasswordcontrol = resetPassword.get("newPassword");
                    <label for="newPassword" class="sr-only">New Password:</label>
                    <input formControlName="newPassword" id="newPassword" [type]="togglePassword() ? 'text' : 'password'" placeholder="Enter New Password..." class="w-full h-[55px] border border-[#E0E0E9] focus:border-[1.98px solid #3364FD] rounded-[10px] px-3 gap-[3px] bg-[#F9F9F9] shadow-[0px_10px_20px_0px_#4461F20D] outline-none ring-0  focus:border-[#3364FD] focus:border-[2px]"
                    [ngClass]="{'border-[#E0E0E9]': !newPasswordcontrol?.invalid || !newPasswordcontrol?.touched,
                    'border-[#F04438]' : newPasswordcontrol?.invalid && newPasswordcontrol?.touched
                    }"
                    >
                    <img (click)="togglePasswordVisibility()" class="absolute top-[20px] right-2 cursor-pointer" src="./images/show-password.svg" alt="show-password">
                    @if (newPasswordcontrol?.errors && newPasswordcontrol?.touched) {
                        <div class="flex mt-0.5 p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (newPasswordcontrol?.getError("required")) {
                                    <li>Required</li>
                                }
                                @else if (newPasswordcontrol?.getError("pattern")) {
                                    <li>Password must be at least 8 characters and include
                                        <span class="pl-5"> 
                                            uppercase, lowercase, number, and special characte
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div> 
                @if (successPassword()) {
                    <div class="p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                        <span class="font-medium"> {{successPassword()}} </span>
                    </div>
                }
                @else if (errorMsgPassword()) { 
                    <div class="p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium"> {{errorMsgPassword()}} </span>
                    </div>
                }
                <p-button [loading]="isCallingAPI()" [disabled]="isCallingAPI()" type="submit" label="Reset Password" styleClass="w-full bg-main hover:!bg-[#3340C3] !transition-colors !duration-300 !shadow-[0px_18px_30px_0px_#2F1C1C1A] h-[56px] !p-2 !gap-2 !rounded-[20px] text-[#FFFFFF] text-[16px] !font-normal !border-none !outline-none" />
            </form>
        }

        <div class="social-icons mt-8">
            <app-social-icons></app-social-icons> 
        </div>
    
    </div>
</section>