<div class="bg-[#F0F4FC] pt-20 px-20 pb-28 min-h-screen rounded-br-[100px] rounded-tr-[100px] shadow-[0px_5px_100px_0px_#0000001A] hidden lg:block">
    <div class="gap-20 w-full max-w-[482px] h-auto">

        <div class="w-[482px] h-[257px]">
            <h1 class="text-[#263238] text-5xl font-bold">Welcome to <span class="text-color block leading-[150%]">Elevate</span></h1>
            <p class="text-[#000000] text-[18px] leading-[40px]">Quidem autem voluptatibus qui quaerat aspernatur <span class="block">architecto natus</span> </p>
        </div>

        <div class="flex justify-start">
            <img src="/images/welcome-screen.png" alt="welcome-screen" class="w-[408px] h-auto object-contain">
        </div>

    </div>
</div>
