.divider {
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1.02px;              
    background-color: #E7E7E7;    
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

