<div class="social-icons gap-2">

    <p class="text-[#6C737F] font-normal text-[16px] divider">Or Continue with</p>

    <div class="icons flex justify-around gap-2 mt-8">

        <a href="https://www.google.com/" target="_blank" class="">
            <img class="rounded-2xl border border-[#E0E0E9] shadow-[0px_18.45px_30.75px_0px_#4461F21C] p-5 transition duration-300 hover:shadow-[0px_10px_25px_0px_#4461F240] hover:scale-105" src="./images/Logo-Google.svg" alt="Google logo">
        </a>
        <a href="https://x.com/" target="_blank" class="">
            <img class="rounded-2xl border border-[#E0E0E9] shadow-[0px_18.45px_30.75px_0px_#4461F21C] p-5 transition duration-300 hover:shadow-[0px_10px_25px_0px_#4461F240] hover:scale-105" src="./images/Logo-Twitter.svg" alt="Twitter logo">
        </a>
        <a href="https://www.facebook.com/" target="_blank" class="">
            <img class="rounded-2xl border border-[#E0E0E9] shadow-[0px_18.45px_30.75px_0px_#4461F21C] p-5 transition duration-300 hover:shadow-[0px_10px_25px_0px_#4461F240] hover:scale-105" src="./images/Logo-Facebook.svg" alt="Facebook logo">
        </a>
        <a href="https://www.apple.com/" target="_blank" class="">
            <img class="rounded-2xl border border-[#E0E0E9] shadow-[0px_18.45px_30.75px_0px_#4461F21C] p-5 transition duration-300 hover:shadow-[0px_10px_25px_0px_#4461F240] hover:scale-105" src="./images/Logo-Apple.svg" alt="Apple logo">
        </a>

    </div>

</div>