<div class="flex flex-col gap-6">
    @for (exam of exams(); track $index) {
        <div class="flex justify-between items-center px-6 py-4 rounded-xl bg-[#F9F9F9] shadow-[0px_15px_40px_0px_rgba(42,41,41,0.05)] hover:shadow-[0px_25px_50px_0px_rgba(42,41,41,0.10)] hover:scale-[1.01] transform-gpu transition-all duration-300">
            <!-- Icon + Title -->
            <div class="flex items-center gap-4">
                <img [src]="iconMap[exam.title]" alt="icon" class="w-[50px] h-[50px] lg:w-[70px] lg:h-[70px]" />
                <div>
                    <h3 class="font-medium text-[#0F0F0F] text-[16px]">{{ exam.title }}</h3>
                    <p class="text-[#535353] font-normal text-sm">
                        {{ exam.numberOfQuestions }} Questions
                    </p>
                </div>
            </div>
            <!-- Duration + Button -->
            <div class="flex flex-col items-center">
                <span class="text-[#0F0F0F] font-normal text-sm">{{ exam.duration }} Minutes</span>
                <button 
                    class="cursor-pointer mt-2 px-6 py-1 rounded-xl bg-[#4461F2] hover:bg-[#002aff]  transition-colors text-white text-sm font-normal">
                    Start
                </button>
            </div>
        </div>
    }
</div>