@use "tailwindcss";

@use "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


html{
    scroll-behavior: smooth;
}


$main-color: #4461F2;

:root {
    --main-color: #{$main-color}; 
}

.text-main {
    color: var(--main-color) !important;
}

.bg-main {
    background-color: var(--main-color) !important;
}